/* Modern Minimalistic Color Scheme */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7; /* Light gray background */
    color: #333; /* Dark gray text */
    margin: 0;
    padding: 0;
}

header {
    background-color: #00bfff; /* Bright blue header background */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

.personal-details, .bio, .social-icons {
    background-color: #fff; /* White background for sections */
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    color: #333; /* Dark gray heading text */
    border-bottom: 2px solid #00bfff; /* Bright blue heading underline */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    background-color: #00bfff; /* Bright blue background for social icons */
    text-align: center;
}

.social-icons h2 {
    color: #fff; /* White heading text */
    border-bottom: none; /* Remove the heading underline */
}

.social-icon {
    display: inline-block;
    margin-right: 20px;
}

.social-icon a {
    text-decoration: none;
    color: #fff; /* White icon color */
    transition: color 0.3s ease;
}

.social-icon a:hover {
    color: #333; /* Dark gray icon color on hover */
}

.social-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}

footer {
    text-align: center;
    background-color: #333; /* Dark gray footer background */
    color: #fff; /* White footer text */
    padding: 10px;
    margin-top: 20px;
}
/* Add this to your CSS file to style the construction notice */

.under-construction {
    text-align: center;
    padding: 20px; /* Add padding for spacing */
    font-size: 18px; /* Adjust font size */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    background: yellow; /* Yellow background color */
}

.construction-image {
    width: 50px; /* Adjust image width as needed */
    height: 50px; /* Adjust image height as needed */
    margin: 0 10px; /* Add spacing between image and text */
    animation: blink 1s alternate infinite; /* Blink animation for images */
}

.construction-text {
    font-weight: bold;
    color: black;
    animation: blink 1s alternate infinite; /* Blink animation for text */
}

@keyframes blink {
    to {
        opacity: 0;
    }
}